{% extends "login_register/login_register_base.html" %}

{% block header %}
<h1 class="display-4 text-primary">Register</h1>
<p class="caption">※必要事項を入力し、送信ボタンを押してください。
</p>
{% include 'messages.html' %}
{% endblock header %}


{% block content %}

<form action="" method="POST">{% csrf_token %}
    
    <table class="table">
    {{ user_form.as_table }}
    <hr>
    {{ profile_form.as_table }}
    <tr>
        <th>
            <td>
                <input type="submit" value="送信" class="btn btn-primary mt-2"></table>
            </td>
        </th>
    </tr>
</form>

{% endblock %}

{% block messages %}
{% endblock messages %}
