{% extends 'base.html' %}

{% block header %}
<h1 class="display-4 text-primary">Data</h1>
<p class="caption">
{% if pitchername and battername %}
※一球ごとの、状況・投球内容・バッティング内容を記録できます。
打席結果のフォームで確定を選び送信すると、入力画面が遷移し打席結果詳細を記録できます。
{% else %}
※ピッチャーとバッターのユーザー名を入力して決定ボタンを押すと、
    入力した選手間での一球毎の対戦データを記録するフォーム画面へ遷移します。
</p>
{% endif %}
{% endblock header %}

{% block content %}
<!-- ifテンプレートタグ内はif contextでは、ifにかからない -->
{% if pitchername and battername %}
<div class="container">
    <h1 class="h4 mb-4 font-weight-normal">{{ pitchername }} 対 {{ battername }}</h1>
</div>
{% include 'messages.html' %}

<form action="" method="POST">{% csrf_token %}
    <table class="table">
    {% if contacted_results_form %}
        {{ contacted_results_form }}
    {% elif uncontacted_results_form %}
        {{ uncontacted_results_form }}
    {% else %}
        {{ situation_form }}
        {{ pitting_form }}
        {{ batting_form }}
    {% endif %}
    <tr>
        <th>
            <td>
                <input type="submit" value="送信" class="btn btn-primary mt-2">
                <!-- ピッチャー名とバッター名が毎回上部に表示されるように、hiddenで隠しデータとして送信 -->
                <input type="hidden" name="pitchername" value="{{ pitcher.username }}">
                <input type="hidden" name="battername" value="{{ batter.username }}">
                {% if contacted_results_form %}<input type="hidden" name="batting_id" value="{{ batting.id }}">{% endif %}
                {% if uncontacted_results_form %}<input type="hidden" name="batting_id" value="{{ batting.id }}">{% endif %}
            </td>
        </th>
    </tr>
    </table>
</form>

<!-- 以下、初回GET時の表示部分。ピッチャーとバッターのusernameをフォームに入力して送信する -->
{% else %}
{% include 'messages.html' %}
<!-- <div class="container"> -->
<form class="form-signin" method="post">{% csrf_token %}
    <!-- <h1 class="h3 mb-3 font-weight-normal">Please select pitcher and batter</h1> -->
<!-- if部分大橋183P参考。IntegrityError実装時に使用 -->
    {% if error %}
    {{ error }}
    {% endif %}
    <label for="pitchername" class="sr-only">Pitcher(username)</label>
    <input type="text" id="pitchername" class="form-control" placeholder="picher(username)" name="pitchername" required autofocus>
    <label for="battername" class="sr-only">Batter(username)</label>
    <input type="text" id="battername" class="form-control" placeholder="batter(username)" name="battername" required>
    <div class="checkbox mb-3">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">決定</button>
</form>
<!-- </div> -->
{% endif %}
{% endblock content %}

{% block messages %}
{% endblock messages %}