{% extends 'base.html' %}

{% block title %}Delete{% endblock title %}

{% block header %}
<h1 class="display-4 text-primary">Delete</h1>
<p class="caption">※下に表示しているログイン中のユーザーを削除します。
</p>
{% endblock header %}


{% block content %}
<body class="container">
    <table class="table">
        <form action="" method="POST">{% csrf_token %}
            <tr>
                <th>Name:</th><td>{{ user.username }}</td>
            </tr>
            <tr>
                <th></th><td><input type="submit" value="削除" class="btn btn-primary mt-2"></td>
            </tr>
            </table>
        </form>
    </table>
</body>
{% endblock content %}