{% extends 'base.html' %}

{% block content %}
<body class="container">
    <p>※以下のユーザーを削除します</p>
    <table class="table">
        <form action="" method="POST">{% csrf_token %}
            <tr>
                <th>Name:</th><td>{{ user.username }}</td>
            </tr>
            <tr>
                <th></th><td><input type="submit" value="削除" class="btn btn-primary mt-2"></td>
            </tr>
            </table>
        </form>
    </table>
</body>
{% endblock content %}