{% extends 'base.html' %}

{% block title %}Stats{% endblock title %}

{% block header %}
<h1 class="display-4 text-primary">Stats</h1>
<p class="caption">※選手のユーザー名を入力して決定ボタンを押すと、
    Dataフォーム画面で入力した対戦データから計算した指標を確認できます。
</p>
{% endblock header %}

{% block content %}
<!-- <div class="container"> nav-barと横幅が合わないため変更-->
    <form  method="post">{% csrf_token %}
        <!-- <h1 class="h3 mb-3 font-weight-normal">Please select player</h1> -->
        <!-- <label for="playername" class="sr-only">Player(username)</label> -->
        <input type="text" id="playername" class="form-control" placeholder="username" name="playername" required autofocus>
        <div class="checkbox mb-3"></div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">決定</button>
    </form>
    <!-- </div> -->

{% if player %}
<body class="container">
    <hr>
    <table class="table">
        <tr>
            <th>打率（安打/（打席数－（四死球＋犠打＋犠飛）））</th>
            <th>打点</th>
            <th>本塁打数</th>
            <th>出塁率（（安打＋四死球）/（打数＋四死球＋犠飛））</th>
            <th>長打率（塁打数/打数）</th>
        </tr>
        <tr>
            <td>{{ batting_aberage }}</td>
            <td>{{ runs_batted_in }}</td>
            <td>{{ num_of_homerun }}</td>
            <td>{{ on_base_percentage }}</td>
            <td>{{ slugging_average }}</td>
        </tr>
    {% if pitcher_dstct %}
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>失点率（失点/（獲得アウト数/27）</th>
            <th>K%（三振/打席数）</th>
            <th>HR/9（被本塁打/打席数）</th>
            <th>BB%（与四球数/打席数）</th>
            <th>K-BB%（（三振数－与四球数）/打席数）</th>
        </tr>
        <tr>
            <td>{{ run_average }}</td>
            <td>{{ k_percentage }}</td>
            <td>{{ hr_per_9 }}</td>
            <td>{{ bb_percentage }}</td>
            <td>{{ k_bb_percentage }}</td>
        </tr>
    {% endif %}
            
    </table>
</body>
{% endif %}
    
{% endblock content %}