{% extends 'base.html' %}

{% block header %}
<h1 class="display-4 text-primary">Update</h1>
<p class="caption">※ログイン中のユーザーの登録情報を表示しています。
    登録情報を変更したい場合は変更したい部分を書き変えて、
    パスワードフォームにパスワードを入力し、決定ボタンを押すと登録情報を変更できます。
</p>
{% endblock header %}

{% block content %}
<form action="" method="POST">{% csrf_token %}
    
    <table class="table">
    {{ user_form.as_table }}
    <hr>
    {{ profile_form.as_table }}
    <tr>
        <th>
            <td>
                <input type="submit" value="決定" class="btn btn-primary mt-2"></table>
            </td>
        </th>
    </tr>
</form>
{% endblock content %}